:root {
  --bg-color: rgb(65, 105, 225);
}
body{
  background-color: rgb(252, 252, 255);
}
.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.full-height {
  position: fixed;
  width: 23%;
  height: 100vh;
  top: 0;
  left: 0;
  border: 1px solid rgb(32, 132, 247);
}

.normal {
  width: 70%;
  left: 30%;
  display: grid;
  position: absolute;
  margin: 0px auto;
  top: 30;
z-index: 1;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--bg-color);
  border-bottom: 16px solid var(--bg-color);
  width: 20px;
  height: 20px;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hambugger{
  display: none;
}
@media only screen and (max-width: 991px){

  .hambugger{
      display: inline;
  }
  .full-height {
    position: fixed;
    top: 0;
    background-color: white;
    left: 0;
    margin: 0px;
    height: min-content;
    z-index: 99999;
    width: 100%;
    border: 1px solid rgb(32, 132, 247);
  }
  .normal {
    width: 100%;
    left: 0%;
    display: grid;
    position: absolute;
    margin: 60px auto;
    /* top: ; */
    z-index: 1;
    align-items: center;
    justify-content: center;
  }
  .user-info{
    position: sticky !important;
    top: 0;
    z-index: 99999;
  } 
}